.projectsHeader{
    background-image: url('/public/header.jpg');
    background-size: cover;
    min-height: 20%;
    color: aliceblue;
    text-align: left;
}

.projectsHeader h1{
    line-height: 3em;
    text-align: left;
    margin-left: 50px;
}

.filterBy{
    margin-left: 50px;
    padding-bottom: 20px;
}

.selectLabel{
    padding-right: 10px;
    font-size: 1.5em;
}

.selectField{
    font-size: 1.3em;
}

.projectsCardsDiv{
    /* margin-left: 5em;
    margin-top: 3em; 
    /* display: flex; */
    /* margin:2em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem; */
    margin-top: 2rem;
    margin-left: 7em;
   
    /* margin-right: 5em; */
    
    /* justify-content: center; */

}

#dashBoardcards{
    min-height: 500px;
}

.card{
    margin-left: 2em;
    margin-bottom: 2em;
    box-shadow: 10px 10px 8px #2a3352;
    background-color: whitesmoke;
}

.modalDiv{
    border: solid 1px #2a3352;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2a3352;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: #2a3352;
}

#github a{
    text-decoration: none;
}

#contactOwnerDiv{
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid #2a3352;
}