*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundDashboard{
  background: radial-gradient(#ce4b36fe,rgba(2, 1, 41, 0.969));
  background-repeat: no-repeat;
  padding: 35px ;
  padding-left: 8.5em;
  padding-right: 11em;
  border: solid #D14C39 3px;
  display: flex;
  justify-content: space-between;

  width: 100%;
  /* background-size: contain; */
}

.displayItFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.myProjHeader{
 color: white;
}

.AddNewProjBtn{
  padding: 0.7em;
  border-radius: 1em;
  color: white;
  background-color: #D14C39;
  
}
.container12{
  display: grid;
  gap: 1em;
  
}
.projectCard12{
  
  margin-top: 1em;
  padding: 1em;
  
  
  word-break: break-word;
  background-color: #efe9e9;
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #b7b8ba solid 1px;
  

}
.projectTitle{
  color: #101F3C;
}

.projectCategory{
  color: #101F3C;
}

.ProjectButtons{
  display: flex; 
  justify-content: center;
  margin-left: -2.3em;

}

.projButton{
  color: #D14C39;
  margin-left: 2em;
  /* box-shadow: inset 0 0 0 0 black; */
  /* height: 0px; */
  border: none ;
  padding: 0.9em;
  /* size: 5px; */
  background-color:#F5F5F5;

}

.projButton:hover{
 color: #101F3C;
}
.AnotherProjectCard{
  display: grid;
  min-height: 40vh;
  
}

form h5{
  padding-bottom: 20px;
}

/* @media(width > 390px){
  .AnotherProjectCard{
      display: grid;
      grid-template-columns: repeat(3,500px);
      justify-content: space-around;
     
  } */
/* } */

/* Modal  */
.profileImageContainer{
  position: relative;
}

.profileImageContainer div{
  position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.profileImageContainer:hover{
  cursor: pointer;
 }
 
 .profileImageContainer:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
 }