.first{
    width: 1000px;
    height: 700px;
    
  }

  .navbar{
    background-color: rgb(243, 236, 236);
    font-weight: 500;
  }
  .navbar .navbar-nav .nav-link {
    color: #faf9f9;
    font-size: 1.1em;
  }
  .navbar .navbar-nav .nav-link:hover{
    color: #F95438
    ;
  }

  .navbar .navbar-nav .nav-link:focus{
    color: #F95438
    ;
  }

  .sm-icons {
  flex-direction: row;
  }
  @media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
  }
  .bg{
    background-color: #101F3C
    ;
    height: 80px;
    /* opacity: 95%; */
    /* position: fixed;
    top: 0; */
  }

  /* bg navbar navbar-expand-lg navbar-dark{
    position: fixed;
    top: 0;
    width: 100%;
  } */
  .shadow{
    background-color: #101F3C
    ;
  }
  /* #btn1{
    margin-bottom: 4px;
    width: ;
    background-color: #d24e01;
  } */
.about{
  background: linear-gradient(rgb(161, 164, 196, 0.7), #F9F5F5);
  /* background-color:rgb(161, 164, 196, 0.7); */
  font-family:Arial, Helvetica, sans-serif;
 /* background-image: url("https://images.squarespace-cdn.com/content/v1/5d416c78e8c5750001775fe5/1576762918101-D8C8PZ9VAGIKRZ6E2D93/IMGL1127.jpg?format=2500w") */
 display: flex;
 flex-direction: row;
 width: 100%;
}

.imageSection{
  min-width: 50%;
  padding-right: 10em;
}

#board{
  border-bottom: solid 1px #101F3C;
  width: fit-content;
  margin: auto;
  font-size: 35px;
}

#aboutUsHeader{
  text-align: center;
  padding: 40px;
  /* background-color:rgb(161, 164, 196, 0.5); */
}

.vision{
  min-width: 50%;
  max-width: 50vw;
  justify-content: center;
  text-align: justify;
  padding-right: 40px;
}

.image5{
  height: 420px;
  float: right;
  border-radius: 100px 0px 100px 0px;
  padding: 10px 10px 20px 10px;
/* margin: 50px; */

}
.title{
  font-weight: 900;
  margin-left: 50%;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;

}
.vision{
  font-size: 30px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;

}
.board{
  /* font-weight: 900; */
  font-family: 'Roboto', sans-serif;
  /* font-size: 15px; */
}
.developers{
  display: flex;
  
}
.dev{
   width: 200px;
   height: 200px;
   display: grid;
   border-radius: 0px 40px 0px 40px;
   margin: 2px;
   border: #101F3C;
}
.developers .text7{
  position:absolute;
  color: navy;
  bottom: -215px;

}
.text8{
  position: absolute;
  bottom : -250px;
}
.FTR{
  font-weight: bolder; 
  background-color: #faf9f9; 

  /* color: white;  */
}

#cnn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.1em;
  width: 100%;
  justify-items: center;
  margin: auto;

}

/* #cnnBackground{
  background-color:rgb(161, 164, 196, 0.4);
} */

.about1{
  display: flex;
  flex-direction: column;
}

#homePageDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#homepageRight{
  margin: auto;
  position: absolute;
  top: 300px;
  left: 1150px;
}

#homepageRight h1{
  font-weight: bold;
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
  background-color: #F9F5F5;
  color: #101F3C;
}

